APP_PORT=3000

# DB CONFIGURATION
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=admin123
POSTGRESQL_DATABASE=stagefy

BUCKET_NAME=stagefy
AWS_ACCESS_KEY_ID=AWEAWESZASDAWEAWEAWE
AWS_SECRET_ACCESS_KEY=ekowkaoekawehaoweawo
AWS_DEFAULT_REGION=us-east-1
NODE_ENV=DEV


#AGORA

AGORA_APP_ID=a053937c8a524a0690bwe23564e4df6
AGORA_APP_CERTIFICATE=9cb1d832142a4e37a2962awgz26279a2

#MAIL

MAIL_ADDRESS=leoc.casagrande82@gmail.com
MAIL_NAME=Stagefy