<html lang='pt-BR'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Sua senha foi alterada</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
      rel='stylesheet'
    />
    <style>
      .body { font-family: 'Baloo Bhaijaan 2', sans-serif; } h1 { font-weight:
      400; font-size: 24px; line-height: 55px; text-transform: uppercase;
      letter-spacing: 0.73px; } p { font-size: 16px; line-height: 27px; } footer
      { display: flex} .social-icons { display: flex; padding-top: 22px;}
      .social-icons img { height: 22px; width: 22px; margin-left: 14px; } .logo
      { margin-left: auto; }

    </style>
  </head>

  <body class='body'>
    <p>
      Olá,
      {{name}}
    </p>
    <p>
      Esperamos que você esteja bem!
    </p>
    <p>
      Sua senha da Stagefy foi alterada recentemente.
    </p>
    <p>
      Se você não pretendia fazer isso, acesse sua conta e clique em Esqueci
      senha para redefinir sua senha
    </p>
    <footer class='footer'>
      <div class='social-icons'>
        <a>
          <img
            src='https://cdn.icon-icons.com/icons2/2566/PNG/512/facebook_icon_153518.png'
          />
        </a>
        <a>
          <img src='https://cdn-icons-png.flaticon.com/512/1384/1384015.png' />
        </a>
        <a>
          <img
            src='https://iconape.com/wp-content/files/yd/367773/svg/logo-linkedin-logo-icon-png-svg.png'
          />
        </a>
      </div>
      {{! Trocar depois }}
      <img
        class='logo'
        src='https://stagefy.s3.amazonaws.com/static/logo-stagefy.png'
      />
    </footer>
  </body>
</html>